:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-cabin: Cabin;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
  --3p-text-pink:#DB1583;
  --3p-text-blue: #1FA3DD;
  --3p-text-yellow: #F4E827;
}

$breakpoints: (
  'xs': 'screen and (min-width: 481px)',
  //sp
  'sm': 'screen and (min-width: 768px)',
  //tablet
  'md': 'screen and (min-width: 959px)',
  //tablet_landscape
  'lg': 'screen and (min-width: 1024px)',
  //pc
  'xl': 'screen and (min-width: 1280px)',
  // wide
  ) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-cabin);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  line-height: 1.75;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

.text-primary {
  color: rgba(255, 255, 255, .87);
}

.text-natural {
  color: #fcf4d4;
}

.container-blog {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 7rem 0 5rem 0;

  @include mq(md) {
    padding: 7rem 0 5rem 0;
  }
}

.ContentInner {
  padding: 0 0 7rem 0;

  ul {
    margin: 0;
  }
}

@media (min-width: 640px) {

  .container-blog {
    max-width: 640px;
    /* padding-right: 2rem; */
    /* padding-left: 2rem; */
  }
}

@media (min-width: 768px) {

  .container-blog {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {

  .container-blog {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {

  .container-blog {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {

  .container-blog {
    max-width: 1536px;
  }
}

.contentTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0 3rem;

  @include mq(sm) {
    font-size: 2rem;
  }
}

.Point {
  position: relative;
}

.index-wrap {
  width: 100%;
  padding: 3rem 0;
}

.Link-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 5rem 0 0 0;

  @include mq(md) {
    flex-direction: row;
  }
}

.linkEnd{
  justify-content: flex-end;
}

.linkStart {
  justify-content: flex-start;
}

.linkBoth {
  justify-content: space-between;
}

a.Link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  width: 100%;
  background-color: rgba(221, 214, 254, .2);
  color: rgba(221, 214, 254, 1);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 30px;
  transition: .6s all;
  transition-delay: .2s;

  &:hover {
      background-color: rgba(221, 214, 254, .6);
      color: rgb(59 7 100);
    }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  @include mq(sm) {
    width: 40%;
  }
}

.contentWrap {
  padding: 5rem 0 0 0;
}

.contentWrapMain {
  padding: 10rem 0 5rem 0;
}

.container-blog h1 {
  margin: 0;
}

.view-wrap {
  background: #27282e;
  overflow: hidden;
  margin: 2rem 0;

  @include mq(md) {
    margin: 1rem;
  }
}

.content {
  background: #27282e;
}
