.pagenationNumWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.pagenationNumWrap a {
  text-decoration: none;
}

.pagenationNumItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 214, 254, 0.2);
  color: #ddd6fe;
  border-radius: 10px;
  padding: .5rem 1rem;
}

.pagenationNumNow {
  color: #ddd6fe;
  border-radius: 10px;
  padding: .5rem 1rem;
}
