.head-logoWrap {
  padding: .75rem;
  display: flex;

  a {
    display: flex;
  }

  svg {
    display: block;
    width: 50px;
    height: 50px;
  }
}

.head-wrap {
  height: 70px;
  background-color: rgba(100, 100, 100, 0.3);
  border-bottom: #05052d;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.header-logo {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
}

.logo-pink {
  fill: #DB1583;
}

.logo-blue {
  fill: #1FA3DD;
}

.logo-yellow {
  fill: #F4E827;
}

.black {
  fill: none;
  stroke: #000000;
  stroke-width: 2.0331;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.black02 {
  fill: none;
  stroke: #000000;
  stroke-width: 1.9042;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.header-Spmenu {
  display: block;
}


.header-SpnavToggle {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin: 0;
  position: absolute;
  right: 12px;
  top: 23px;
  width: 2rem;
  height: 36px;
  cursor: pointer;
  z-index: 101;

  @media (min-width: 768px) {
    display: none;
  }

  &[aria-expanded="true"] {

    .header-SpnavToggle-Item {
      background: #27282e;

      &:nth-child(1) {
          transition-delay: 70ms;
          transform: translateY(12px) rotate(315deg);
        }

        &:nth-child(2) {
          transition-delay: 0s;
          transform: translateX(-18px) scaleX(0);
        }

        &:nth-child(3) {
          transition-delay: 140ms;
          transform: translateY(-9px) rotate(-135deg);
        }
      }
    }



  .header-SpnavToggle-Item {
    display: block;
    height: 4px;
    width: 100%;
    margin: 0;
    background: #FFF;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
}



.header-Spmenu {
  position: absolute;
  display: none;
  background: #f2d006;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  z-index: 99;

  @media (min-width: 768px) {
    & {
        display: none;
      }
  }

  &[aria-expanded="true"] {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

  a {
      background: #f2d006;
      width: 100vw;
      color: #27282e;
      font-size: 1.25rem;
      padding: 1rem;
      text-decoration: none;
      font-weight: 700;


      &:nth-child(1) {
        padding: 6rem 0 1rem 0;
        transition-delay: 70ms;
      }

      &:nth-child(2) {
        transition-delay: 0s;
      }

      &:nth-child(3) {
        transition-delay: 140ms;
      }
    }
  }
}
.header-menu {
  display: none;
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
    height: 70px;
  }
  .header-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1.5rem;
    background: transparent;
    transform-origin: center top;
    transition: all .3s;
    &:hover {
        background: #DB1583;

      }
  }

}

.headerWrap {
  position: relative;

}
