.companyText {
  color: rgba(255, 255, 255, 0.33);
}

.companyText a {
  color: rgba(255, 255, 255, 0.33);
  text-decoration: none;
}

.companyText a:hover {
  text-decoration: underline;
}

.companyText a:visited {
  color: rgba(255, 255, 255, 0.33);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex li {
  text-align: left;
  font-size: 0.75rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.ppImgWrap {
  text-align: center;
}

.ppImgWrap a {
  text-align: center;
}

.ppImg {
  background: #FFF;
  width: 42px;
  height: 42px;
}

.icon {
  font-size: 2.35rem;
  color: rgba(255, 255, 255, 0.33);
}

.icon:hover {
  color: #FFF;
}

.icon:visited {
  color: rgba(255, 255, 255, 0.33);
}
