.markdown-wrap h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem auto;
}

.markdown-wrap p {
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 1.5rem auto;
}

.markdown-wrap img {
  margin: 1rem auto;
}

.markdown-wrap a {
  color: rgba(255, 255, 255, 0.87);
}

.markdown-wrap a:visited {
  color: rgba(255, 255, 255, 0.87);
}

.textDiscription {
  font-size: 1rem;
  line-height: 1.5;
}
